/* src/components/Videos.css */
.videos-section {
    text-align: center;
    margin: 40px 0;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 1.8rem;
    background-color: #f9f9f9;
  }
  
  .videos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .video-item {
    width: calc(50% - 20px); /* Adjust width as needed for responsiveness */
    margin-bottom: 20px;
  }
  
  .video-item video {
    width: 100%;
    height: auto;
  }
  
  .video-item p {
    margin-top: 10px;
    font-size: 1.2rem;
  }
  